*{box-sizing: border-box;}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

header, main{
    flex-direction: column;
}

header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.totalViewPort{width: 100vw;}
.topBottomMargin{margin: 4em auto 4em;}
.totalMinHeight{min-height: 100%;}
.dashedBlack{border: 2px dashed black;}
.imgSpaceRight{padding-right: 50px;}
.customImgSpaceRight{
    padding-right: 100px;
}
.imgSpaceLeft{
    padding-left: 50px;
}

h1{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.headerParagraph{
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 1.8;
    width: 78%;
    margin: 10px auto 25px;
    font-size: 14px;
}

.upperContent{
    /* perché in questo caso non accetta la max-width? */
    min-height: 30px;
    min-width: 1100px;
    justify-content: space-evenly;
    margin: 1em auto 1em;
}

.link{
    width: calc(100%/5*3);
    text-align: center;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 40px;
    font-weight: 500;
}

.logo{
    width: calc(100%/5);
    padding: 0.2em 0.5em 0 0.5em;
    color: white;
}

.login{
    width: calc(20%);
    color: black;
    padding-top: 0.2em;
    padding-left: 3em;
}

.accesso{
    color: black;
    background-color: white;
    padding: 0.5em 1em 0.5em 1em; 
    padding-top: 0.5em;
    border-radius: 50px;
}


.heroContent{
    max-width: 50%;
    min-height: 300px;
}

.heroBtnContainer{
    max-width: 70%;
    height: 43px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.whiteBtn{
    background-color: white;
    color: black;
}
.blackBtn{
    background-color: black;
    color: white;
}
.purpleBtn{
    background-color: #8ea1e1;
    color: white;
    max-width: 180px;
    margin: 10px auto 80px auto;
    font-weight: 500;
    border-radius: 30px;
    padding: 1em 1.5em 1em 1.5em;
    border: 0;
    font-size: 16px;
}

.purpleBtnContainer{
    width: 180px;
    margin: 0 auto;
}

.btnSpace{
    border-radius: 20px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-weight: 500;
}

/* inizio main */


.bicolor{
    max-width: 900px;
    min-height: 400px;
}

.reverse{flex-direction: row-reverse;}

.customLeft{
    width: 75;
    border: 1px solid red;
}

.customRight{
    width: 60%;
}
.left{
    width: calc(100%/5*3);
}

.frogContainer{
    padding-right: 3%;
    margin-top: 3%;
}

.imgSection{
    width: 115%;
}

.greyWave{
    opacity: 4%;
    display: block;
}

.whiteWave{
    opacity: 3;
    display: block;
}

.right{
    width: calc(100%/5*2);
}

.sectionTitle{
    font-size: 37px;
    font-weight: 700;
    margin-top: 47px;
    margin-left: 85px;
    width: 80%;
}

.sectionParagraph{
    margin-left: 85px;
    width: 75%;
    font-size: 15px;
    font-weight: 500;
}

main .mainContainer:nth-child(even){background-color: #f6f6f6;}

.customGreenContainer{
    background-color: #f6f6f6;
    min-height: 500px;
}

.customGreenBox{
    max-width: 900px;
    min-height: 700px;
}

.bigImageTitle{
font-size: 35px;
text-align: center;
font-weight: 700;
width: 90%;
margin: 0 auto 20px;
}

h2{
    margin: 0 auto 20px;
}

.bigImageParagraph{
    width: 90%;
    margin: 0 auto;
}

.starImg{
    min-width: 50px;
    margin: 0 auto;
}

.lowerContainer{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greyFooterBox{
    min-height: 500px;
    background-color: #23272a;
    padding-top: 0.5em;
    border-bottom: 2px solid white;
}

.midBox{
    max-width: 900px;
    min-height: 450px;
    margin: 0 auto;
}

.pinkFooterBox{
    min-width: 260px;
    background-color: #f08080;
}

.cutContainer{max-width: 640px;}

.partialBox{
    min-width: 160px;
    background-color: #20b2aa;
    border: 2px dashed white;
}

.lastFooterBox{
    background-color: #23272a;
    min-height: 60px;
    padding-top: 1em;
}

.buttonContainer{
    max-width: 900px;
    min-height: 50px;
    background-color: #7fffd4;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

button{background-color: #ffb6c1;}
